@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");

* {
  font-family: "Tilt Neon", sans-serif;
  color: #dadada;
}

span {
  color: #aa00ff;
}

nav {
  background-image: url(./assets/background/boliviainteligente-0WDT5uLGs6c-unsplash_blur.png);
}

.hero {
  height: 92vh;
  display: flex;
  justify-content: center;
  background-image: url(./assets/background/boliviainteligente-0WDT5uLGs6c-unsplash_blur.png);
}

.hero__text h1 {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0 0 10px #ffffff56;
}

.hero__text .motto1 {
  font-size: 1rem;
}

.hero__text .motto2 {
  font-size: 12px;
}

.hero__img {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.hero__img img {
  width: 50%;
}

.btn-letstalk {
  text-decoration: none;
  color: white;
  background-color: #aa00ff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-shadow: 0 0 10px #ffffff56;
}

/* desktop screen */
@media (min-width: 768px) {
  .hero__text .motto1 {
    font-size: 1.5rem;
  }

  .hero__text .motto2 {
    font-size: 1.2rem;
  }

  .hero__img {
    margin-top: 2rem;
  }

  .hero__img img {
    width: 20rem;
  }
}
